* {
    text-align: center;
}

#bigDiv {
    width: 400px;
    height: 200px;
}

#smallDiv {
    width: 300px;
    height: 200px;
}

.container {
    background-color: blue;
    height: 400px;
    width: 1000px;
}





